<div>
  <h1>Trabajando con HttpClient y la api 'https://jsonplaceholder.typicode.com'</h1>
  <h3>Pasos a seguir:</h3>
  <ul>
    <li>Crear un servicio con el comando ng g s (nombre del servicio)</li>
    <li>Dentro del archivo nombre del servicio.service.ts importar HttpClient desde '@angular/common/http';</li>
    <li>Tambien inyectar en el constructor una variable privada llamda http de tipo HttpClient</li>
    <li>En el app.module.ts importar el modulo HttpClientModule desde @angular/common/http y el servicio, luego llamar el servicio en providers</li>
    <li>Por último el al componet.ts a usar el servicio debo importarlo e inyectarlo en el constructor</li>
  </ul>

  <hr>
  <h2>Publicaciones de la API</h2>
  <div *ngFor="let publicacion of publicaciones"> 
    <h3><span class="negrita">TÍTULO: </span>{{ publicacion.title }}</h3>
    <p><span class="negrita">CUERPO: </span>{{ publicacion.body }}</p>
    <hr class="linea-punteada">
  </div>

</div>